@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --yellow:#f9d806;
    --light-yellow:#ffee80;
    --black:#130f40;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem .1rem rgba(0,0,0,.1);
}

/* Default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

/* Style for HTML tag */
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section{
    padding: 1rem 21%;
}

.heading{
    font-size: 4.5rem;
    color: var(--black);
    text-align: center;
    padding-bottom: 2rem;
}

.heading span{
    position: relative;
    z-index: 0;
}

.heading span::before{
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--yellow);
    z-index: -1;
    clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0 100%);
}

/* Style for btn */
.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: .5rem;
    background-color: var(--light-yellow);
    color: var(--black);
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

/* Style for btn on hover */
.btn:hover {
    background-color: var(--yellow);
}

/* Styles for header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 9%;
    z-index: 999;
    background: #fff;
}

/* Styles for Header Logo */
.header .logo{
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bolder;
}

/* Style for header logo span tag */
.header .logo span{
    color: var(--yellow);
}

/* Styles for header navbar a tag*/
.header .navbar a{
    font-size: 1.7rem;
    color: var(--black);
    font-weight: 500;
    margin: 0 1rem;
}

/* Styles for header navbar a tag on hover */
.header .navbar a:hover{
    color: var(--yellow);
}

/* Styele for header btn */
.header .btn{
    margin-top: 0;
}

.header #login-btn i{
    font-size: 2.5rem;
    color: var(--light-color);
    cursor: pointer;
    display: none;
}

/* Styles for toggel menu */

#menu-btn{
    color: var(--light-color);
    font-size: 2.5rem;
    cursor: pointer;
    display: none;

}


.header.active{
    box-shadow: var(--box-shadow);
    padding: 2rem 9%;
}

/* styles for login form */
.login-form-container{
    position: fixed;
    top: 105%;
    opacity: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background: rgba(255, 255,255, .9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container.active{
    top: 0;
    opacity: 1;
}

.login-form-container form{

    padding: 2rem;
    margin: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background: #fff;
    border: var(--border);
    text-align: center;
    width: 40rem;
    
}

.login-form-container form .buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.login-form-container form .btn{
    display: block;
    width: 100%;
    margin: .5rem 0;
}

.login-form-container form h3{
    color: var(--black);
    font-size: 2.5rem;
    padding-bottom:  1rem;
    text-transform: uppercase;
}

.login-form-container form .box{
    width: 100%;
    margin: .7rem 0;
    text-transform: none;
    color: var(--black);
    font-size: 1.6rem;
    padding: 1rem 1.2rem;
    border: var(--border);
    border-radius: .5rem;
}

.login-form-container form p{
    padding: 1rem 0;
    color: var(--light-color);
    font-size: 1.5rem;
}

.login-form-container form p a{
    color: var(--yellow);
}

.login-form-container #close-login-form{
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}

/* Styles for Home section */
.home{
    padding-top: 8rem;
    text-align: center;
    overflow-x: hidden;
}

.home h1{
    font-size: 5.5vw;
    text-transform: uppercase;
    color: var(--black);
}

.home img{
    width: 90%;
    margin: 1rem 0;
}

/* Styles for icons section */

.icons-container{
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    display : grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
    background: #eee;
}

.icons-container .icons{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.icons-container .icons i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    border-radius: 50%;
    background: #eee;
    color: var(--black);
    text-align: center;
}

.icons-container .icons .content h3{
    color: var(--yellow);
    font-size: 2.5rem;
}

.icons-container .icons .content p{
    color: var(--light-color);
    font-size: 1.5rem;
}

.icons-container .icons:hover{
    background: var(--black);
}

.icons-container .icons:hover i{
    background: var(--yellow);
}

.icons-container .icons:hover .content h3{
    color: #fff;
}

.icons-container .icons:hover .content p{
    color: #eee;
}

/* Styles for vehicles section  */

.vehicles .vehicles-slider{
    padding-bottom: 5rem;
}

.vehicles .vehicles-slider .box{
    text-align: center;
    width: 30rem;
}

.vehicles .vehicles-slider .box img{
    width: 100%;
    opacity: .5;
    transform: scale(.8);
}

.vehicles .vehicles-slider .box .content{
    transform: scale(0);
    padding-top: 1rem;
}

.vehicles .vehicles-slider .swiper-slide-active img{
    opacity: 1;
    transform: scale(1);
}

.vehicles .vehicles-slider .swiper-slide-active .content{
    transform: scale(1);
}

.vehicles .vehicles-slider .box .content h3{
    color: var(--black);
    font-size: 2.5rem;
}

.vehicles .vehicles-slider .box .content .price{
    color: var(--yellow);
    font-size: 2.5rem;
    padding: 1rem 0;
    font-weight: bolder;
}

.vehicles .vehicles-slider .box .content .price span{
    color: var(--light-color);
    font-size: 1.5rem;
    font-weight: normal;
}

.vehicles .vehicles-slider .box .content p{
    color: var(--light-color);
    font-size: 1.5rem;
    padding: 1rem;
    border-top: var(--border);
    padding-top: 1.5rem;
    
}

.vehicles .vehicles-slider .box .content p span{
    color: var(--yellow);
    font-size: .8rem;
    padding: 0 .5rem;
}

/* Styles for swiper js slider pagination bullet */

.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: var(--yellow);
} 










/* Media queries */

@media (max-width: 1400px){

    .home{
        padding-top: 8rem;
    }
}

@media (max-width: 991px){

    html {
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }

    .header.active{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }
}

@media (max-width: 768px){

    #menu-btn{
        display: block;
    
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .header #login-btn i{
        display: block;
    }

    .header #login-btn .btn{
        display: none;
    }

    .header .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background:#fff;
        border-top: var(--border);
        clip-path:polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a{
        display: block;
        margin: 2rem;
        font-size: 2rem;
    }
}

@media (max-width: 450px){

    html {
        font-size: 50%;
    }

   .heading{
        font-size: 3rem;
    }
}