@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --yellow:#f9d806;
    --light-yellow:#ffee80;
    --black:#130f40;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem .1rem rgba(0,0,0,.1);
}

/* Default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}