@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --yellow:#f9d806;
    --light-yellow:#ffee80;
    --black:#130f40;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem .1rem rgba(0,0,0,.1);
}

/* Default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

/* Style for HTML tag */
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

/* Style for btn */
.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: .5rem;
    background-color: var(--light-yellow);
    color: var(--black);
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

/* Style for btn on hover */
.btn:hover {
    background-color: var(--yellow);
}

/* Styles for header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 9%;
    z-index: 999;
    background: #fff;
}

/* Styles for Header Logo */
.header .logo{
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bolder;
}

/* Style for header logo span tag */
.header .logo span{
    color: var(--yellow);
}

/* Styles for header navbar a tag*/
.header .navbar a{
    font-size: 1.7rem;
    color: var(--black);
    font-weight: 500;
    margin: 0 1rem;
}

/* Styles for header navbar a tag on hover */
.header .navbar a:hover{
    color: var(--yellow);
}

/* Styele for header btn */
.header .btn{
    margin-top: 0;
}

.header #login-btn i{
    font-size: 2.5rem;
    color: var(--light-color);
    cursor: pointer;
    display: none;
}

/* Styles for toggel menu */

#menu-btn{
    color: var(--light-color);
    font-size: 2.5rem;
    cursor: pointer;
    display: none;

}


.header.active{
    box-shadow: var(--box-shadow);
    padding: 2rem 9%;
}















/* Media queries */

@media (max-width: 991px){

    html {
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }

    .header.active{
        padding: 2rem;
    }
}

@media (max-width: 768px){

    #menu-btn{
        display: block;
    
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .header #login-btn i{
        display: block;
    }

    .header #login-btn .btn{
        display: none;
    }

    .header .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background:#fff;
        border-top: var(--border);
        clip-path:polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a{
        display: block;
        margin: 2rem;
        font-size: 2rem;
    }
}

@media (max-width: 450px){

    html {
        font-size: 50%;
    }
}